.left-0 {
  @keyframes AnimatePositionLeft-0 {
    25% {
      translate: -1rem;
      scale: 0.8;
    }
    50% {
      translate: -3rem;
      scale: 0.65;
    }
    75% {
      translate: -5rem;
      scale: 0.5;
    }
    100% {
      translate: 0;
      scale: 1;
    }
  }
  animation: 1.5s ease AnimatePositionLeft-0 infinite forwards;
}
.left-1 {
  @keyframes AnimatePositionLeft-1 {
    25% {
      translate: -1rem;
      scale: 0.8;
    }
    50% {
      translate: -3rem;
      scale: 0.65;
    }
    75% {
      translate: -3rem;
      scale: 0.65;
    }
    100% {
      translate: 0;
      scale: 1;
    }
  }

  animation: 1.5s ease AnimatePositionLeft-1 infinite forwards;
}
.left-2 {
  @keyframes AnimatePositionLeft-2 {
    25% {
      translate: -1rem;
      scale: 0.8;
    }
    75% {
      translate: -1rem;
      scale: 0.8;
    }
    100% {
      translate: 0;
      scale: 1;
    }
  }
  animation: 1.5s ease AnimatePositionLeft-2 infinite forwards;
}

.right-0 {
  @keyframes AnimatePositionRight-0 {
    25% {
      translate: 1rem;
      scale: 0.8;
    }
    50% {
      translate: 3rem;
      scale: 0.65;
    }
    75% {
      translate: 5rem;
      scale: 0.5;
    }
    100% {
      translate: 0;
      scale: 1;
    }
  }
  animation: 1.5s ease AnimatePositionRight-0 infinite forwards;
}
.right-1 {
  @keyframes AnimatePositionRight-1 {
    25% {
      translate: 1rem;
      scale: 0.8;
    }
    50% {
      translate: 3rem;
      scale: 0.65;
    }
    75% {
      translate: 3rem;
      scale: 0.65;
    }
    100% {
      translate: 0;
      scale: 1;
    }
  }

  animation: 1.5s ease AnimatePositionRight-1 infinite forwards;
}
.right-2 {
  @keyframes AnimatePositionRight-2 {
    25% {
      translate: 1rem;
      scale: 0.8;
    }
    75% {
      translate: 1rem;
      scale: 0.8;
    }
    100% {
      translate: 0;
      scale: 1;
    }
  }
  animation: 1.5s ease AnimatePositionRight-2 infinite forwards;
}
